.card-img-top {
  height: auto;
  width: auto;
  margin: auto;
}

.container {
  margin-top: 4%;
}

.card {
  animation: show 1.25s ease-out;
}

@keyframes show {
  from {
    margin: -25%;
    opacity: 0;
  }
  to {
    top: 0%;
    opacity: 1;
  }
}
